@model Tuple<List<Category>,List<AppUser>,List<Article>>

@{
    ViewData["Title"] = "Home Page";
}
@section Header
    {
    <header class="header" id="home">
        <div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(https://raw.githubusercontent.com/creativetimofficial/argon-dashboard/gh-pages/assets-old/img/theme/profile-cover.jpg); background-size: cover; background-position: center top;">
            <!-- Mask -->
            @*            <span class="mask bg-gradient-default opacity-8"></span>*@
            <!-- Header container -->
        </div>
        <!-- Header-widget -->
        <div class="widget">
            <div class="widget-item">
                <h2>@Model.Item2.Count()</h2>
                <p>Adet Yazar</p>
            </div>
            <div class="widget-item">
                <h2>@Model.Item3.Count()</h2>
                <p>Adet Makale</p>
            </div>
            <div class="widget-item">
                <h2>@Model.Item1.Count()</h2>
                <p>Adet Kategori</p>
            </div>
        </div>
    </header>
   }
    @section Contact
    {
    <section id="contact" class="position-relative section">
        <div class="container text-center">
            <div class="contact text-left">
                <div class="form">
                    <h6 class="section-title mb-4">İletişim Formu</h6>
                    <form>
                        <div class="form-group">
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Mail" required="">
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Şifre" required="">
                        </div>
                        <div class="form-group">
                            <textarea name="contact-message" id="" cols="30" rows="5" class="form-control" placeholder="Mesaj"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block rounded w-lg">Mesaj Gönder</button>
                    </form>
                </div>
                <div class="contact-infos">
                    <div class="item">
                        <i class="ti-location-pin"></i>
                        <div class="">
                            <h5>Adres</h5>
                            <p> Maslak, Kat: 5, Büyükdere Cd. No:237, 34398 Şişli/İstanbul</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-mobile"></i>
                        <div>
                            <h5>İletişim</h5>
                            <p>444 3 330</p>
                        </div>
                    </div>
                    <div class="item">
                        <i class="ti-email"></i>
                        <div class="mb-0">
                            <h5>Mail Adresi</h5>
                            <p>info@bilgeadam.com</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3006.1137475162127!2d29.0244276!3d41.11020680000001!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14cab5eaea73b441%3A0x75e77ec3ec7b8876!2sBilge%20Adam%20Kurumsal!5e0!3m2!1str!2str!4v1679825990258!5m2!1str!2str" width="100%" height="500" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </section>
}
    @section Footer
    {
    <footer class="footer">
        <div class="row align-items-center justify-content-xl-between">
            <div class="col-xl-6 m-auto text-center">
                <div class="copyright">
                    <p>Made with <a href="https://www.creative-tim.com/product/argon-dashboard" target="_blank">Argon Dashboard</a> by Creative Tim</p>
                </div>
            </div>
        </div>
    </footer>

}
    <div class="row">
        <div class="col-md-12">
            @await Component.InvokeAsync("Articles")
        </div>
    </div>
