
<div class="modal fade" id="fgModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel">UYARI!!!</h5>
            </div>
            <div class="modal-body">
                <p>Kullanıcı girişi için Admin onayınız beklenmektedir. Admin onayından sonra kullanıcı girişi yapabilirsiniz.</p>
            </div>
            <div class="modal-footer">
                <a class="- btn btn-primary rounded ml-4" asp-area="" asp-controller="Home" asp-action="Login">Kapat</a>
            </div>
        </div>
    </div>
</div>
