.main-content .navbar-top {
    margin-left: 1310px;
}

.main-content .navbar-top .container-fluid ul {
    list-style: none;
    height: 50px;
}

.main-content .navbar-top .container-fluid li {
    float: left;
    position: relative;
    width: 250px;
    text-transform: uppercase;
    line-height: 50px;
}

.main-content .navbar-top .container-fluid ul li ul {
    display: none;
}
    .main-content .navbar-top .container-fluid ul li:hover {
        background-color: darkgoldenrod;
    }

.main-content .navbar-top .container-fluid ul li:hover ul {
    display: block;
}

.main-content .navbar-top .container-fluid ul li a {
    text-decoration: none;
    text-align:center;
}
    .main-content .navbar-top .container-fluid ul li ul li:hover{

        background-color:aliceblue;

        
    }
