@using Blog.Web.Models.VMs
@model CategoryDetailVM

@section UserInfo
    {
    @await Component.InvokeAsync("AppUsers", new  {id=Model.CookieID})
 }


    <link href="~/css/appuserprofile.css" rel="stylesheet" />

    <div class="container">
        <div class="main-body">
            <div class="row gutters-sm">
                <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-flex flex-column align-items-center text-center">
                                <img src="@Model.Image" alt="Admin" class="rounded-circle" width="250" ; height="250">
                                <div class="mt-3">
                                    <p class="text-secondary mb-1">@Model.Name</p>
                                    <p class="text-secondary mb-1">@Model.Desription</p>
                                    <p class="text-secondary mb-1"> Category @Model.CreatedDate.ToShortDateString() tarihinde oluşturulmuştur...</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    @await Component.InvokeAsync("CategoryArticles", new  {id=Model.ID})
                </div>
            </div>

        </div>
    </div>
