
@model GetAppUserDTO

<div >
    <img src="@Model.Image" class="img-circle elevation-2" alt="User Image" style="height:40px; width:40px;">
    <a href="#" class=" text-dark">@Model.fullName</a>
</div>



